<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Form Pengajuan Donasi nih</h1>
	<form action="donasiTambah" method="post">
	  <p>Title: <input type="text" id = "title" name = "title"/></p>
      <p>Target: <input type="text" id = "target" name = "target"/></p>
<!--       <p>Status: <input type="text" id = "status" name = "status"/></p> -->
      <p>Photo: <input type="text" id = "photo" name = "photo"/></p>
      <p>Event: <input type="text" id = "event" name = "eventId"/></p>
      <p>Payment mehtod: <input type="text" id = "payment" name = "payment"/></p>
      <p>Deadline (YYY-MM-DD): <input type="text" id = "deadline" name = "deadline"/></p>
       <button type="submit">Submit</button>
	</form>
</body>
</html>