<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="admin/layouts/head :: head">
</head>

<body class="bg-gray-100">
	<aside th:replace="user/layouts/aside :: aside"></aside>
	<main class="w-[80%] ml-auto">
		<div th:replace="user/layouts/header :: header"></div>

		<section class="mx-6 mt-24">

			<form action="donasiTambah" method="post" class="w-[90%] mx-auto">
				<div class="relative z-0 w-full mb-6 group">
					<input type="text" name="title" id="title"
						class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" " required=""> <label for="title"
						class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Judul</label>
				</div>

				<label for="target"
					class="block mb-2 text-sm text-gray-500 dark:text-gray-400">Target
					Donasi</label> <select id="target" name="target"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mb-6 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
					<option value="500000">Rp. 500.000</option>
					<option value="1000000">Rp. 1.000.000</option>
					<option value="1500000">Rp. 1.500.000</option>
					<option value="2000000">Rp. 2.000.000</option>
					<option value="2500000">Rp. 2.500.000</option>
					<option value="3000000">Rp. 3.000.000</option>
					<option value="5000000">Rp. 5.000.000</option>
					<option value="10000000">Rp. 10.000.000</option>
				</select>

				<div class="relative z-0 w-full mb-6 group">
					<input type="text" name="photo" id="photo"
						class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" " required=""> <label for="photo"
						class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Photo</label>
				</div>

				<label for="eventId"
					class="block mb-2 text-sm text-gray-500 dark:text-gray-400">Pilih
					Kategori</label> <select id="kategori" name="eventId"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mb-6 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
					<option th:each="event : ${listEvent}" th:text="${event.name}" th:value="${event.id}"></option>
				</select>

				<!-- REKENING -->
				<div class="mt-4 mb-2 text-sm text-slate-500">Pilih Rekening :</div>
				<div th:each="payment : ${listPayment}"
					class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
					<input id="bordered-radio-1" type="radio" th:value=${payment.id} name="payment"
						class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
					<label th:text=${payment.name} for="bordered-radio-1"
						class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
				</div>

				<label for="deadline"
					class="block mt-4 mb-2 text-sm text-gray-500 dark:text-gray-400">
					Deadline : <input type="date" name="deadline"
					class="p-2 ml-4 rounded-md" required>
				</label>

				<div class="mt-10"></div>
				<button type="submit"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
			</form>

		</section>
		
		<footer lang="en" th:replace="user/layouts/footer :: footer">
		</footer>
	</main>

	<script th:src="@{/resources/assets/js/script.js}"></script>
</body>

</html>