<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="user/layouts/head :: head"> </head>

<body class="bg-gray-100">
	<aside th:replace="user/layouts/aside :: aside"></aside>
	<main class="w-[80%] ml-auto">
		<div th:replace="user/layouts/header :: header"></div>

		<section class="mx-6 mt-24">
			<!-- SECTION -->
			<div class="flex justify-between">
				<div class="px-20 bg-white">Tes</div>
				<div class="px-20 bg-white">Tes</div>
				<div class="px-20 bg-white">Tes</div>
			</div>
			<div class="mt-[200rem]"></div>
		</section>
		<footer lang="en" th:replace="user/layouts/footer :: footer"> </footer>
	</main>
</body>

</html>