<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="public/layouts/head :: head"> </head>

<body class="bg-[#f6fbff]">
    <header th:replace="public/layouts/header :: nav"></header>

    <!-- CONTENT -->

    <main class="max-w-[600px] mx-auto mt-24 bg-white mb-10">
        <img class="rounded-t-lg block w-[100%] mx-auto"
            src="https://70867a2ef4c36f4d1885-185a360f54556c7e8b9c7a9b6e422c6e.ssl.cf6.rackcdn.com/file/2022-05-07/xCqHNqxN6pxM.jpeg"
            alt="">
        <div class="mx-5 mt-4">
            <h1 class="text-lg font-semibold" th:text="${donation.title}"></h1>
            <div class="flex items-center mt-4 gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="text-[#3a99d8] w-4 h-4">
                    <path
                        d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
                </svg>

                <span th:text="${listDonatur.size}+' Donatur'" class="text-sm font-semibold"></span>
            </div>

            <div class="h-2 mt-4 bg-blue-200 rounded-lg">
                <div id="progress" class="h-full bg-[#3a99d8] rounded-lg"></div>
            </div>
            <div class="flex justify-between">
                <div>
                    <div class="mt-1 text-sm text-[#3a99d8] font-semibold">Rp <span id="nominal" th:text="${donation.donatur.size != 0} ? ${#numbers.formatInteger(#aggregates.sum(donation.donatur.![nominal]),3,'POINT')} : ${donation.donatur.size}">0</span></div>
                    <div class="text-xs text-slate-500">Terdanai</div>
                </div>
                <div>
                    <div class="mt-1 text-sm font-semibold text-red-500">Rp <span id="kekurangan" th:text="${donation.donatur.size != 0} ? ${#numbers.formatInteger(donation.target-#aggregates.sum(donation.donatur.![nominal]),3,'POINT')} : ${#numbers.formatInteger(donation.target,3,'POINT')}">0</span></div>
                    <div class="text-xs text-right text-slate-500">Kekurangan</div>
                </div>
            </div>
            
            <div class="pt-4 mt-8 border-t-2">
                <div class="mb-4 font-semibold">Para Donatur (<span th:text="${listDonatur.size}">(45)</span>)</div>

                <div th:each="donatur : ${listDonatur}" class="p-2 mb-2 border-2 rounded-md">
                    <div class="flex items-center justify-start gap-x-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <div>
                            <div th:text="${donatur.nama}" class="text-[#3a99d8] text-sm font-semibold">Hamba Allah</div>
                            <div class="text-xs font-semibold">Donasi : Rp <span th:text="${#numbers.formatInteger(donatur.nominal,3,'POINT')}" class="nominal">10000</span></div>
                            <div class="mt-2 text-sm italic">"<span th:text="${donatur.dukungan}">Dukungan</span>"</div>
                        </div>
                    </div>
                </div>

            <div class="container mt-8">
                <h1 class="text-xl font-semibold text-center text-slate-500">BANTU SEKARANG</h1>
                <form th:action="@{/donasi}" method="post" class="py-2 mx-auto mt-4">
                    <!-- NOMINAL -->
                    <div class="mb-2 text-sm text-slate-500">Pilih Nominal :</div>
                    <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="bordered-radio-1" type="radio" value="10000" name="nominal"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="bordered-radio-1"
                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Rp
                            10.000</label>
                    </div>
                    <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="bordered-radio-2" type="radio" value="50000" name="nominal"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="bordered-radio-2"
                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Rp
                            50.000</label>
                    </div>
                    <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="bordered-radio-2" type="radio" value="100000" name="nominal"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="bordered-radio-2"
                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Rp
                            100.000</label>
                    </div>

                    <!-- REKENING -->
                    <div class="mt-4 mb-2 text-sm text-slate-500">Rekening yang Tersedia :</div>
                    <div th:each="payment : ${listPayment}" class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="bordered-radio-1" type="radio" th:value=${payment.id} name="rekening"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label th:text=${payment.name} for="bordered-radio-1"
                            class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                    </div>

                    <!-- Identitas -->
                    <div class="relative z-0 w-full mt-4 mb-6 group">
                        <input type="text" name="nama" id="nama"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required="">
                        <label for="nama"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Masukkan
                            Nama (Hamba Allah)</label>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="noHP" id="noHP"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required="">
                        <label for="noHP"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Masukkan
                            No HP</label>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="dukungan" id="dukungan"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required="">
                        <label for="dukungan"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Sampaikan
                            Dukungan</label>
                    </div>
                    
                    <input name="donationId" th:value="${donationId}" style="display: none;"></input>

                    <button type="submit"
                        class="w-full px-3 py-2 text-sm font-bold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Donasi</button>
                </form>
            </div>
        </div>

    </main>
	<footer lang="en" th:replace="public/layouts/footer :: footer"> </footer>
	<script th:src="@{/resources/assets/js/donasiPublik.js}"></script>
</body>

</html>