<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="admin/layouts/head :: head">
</head>

<body class="bg-gray-100">
	<aside th:replace="admin/layouts/aside :: aside"></aside>
	<main class="w-[80%] ml-auto">
		<div th:replace="admin/layouts/header :: header"></div>

		<section class="mx-6 mt-24">
			<!-- component -->
			<div class="overflow-x-auto">
				<div
					class="flex items-center justify-center overflow-hidden font-sans">
					<div class="w-full border-2 border-white rounded-lg shadow-lg">
						<div class="bg-white rounded-lg shadow-md">
							<div
								class="grid grid-cols-[0.07fr_0.5fr_repeat(4,_0.4fr)_0.2fr] justify-items-center items-center border-b-2 rounded-t-lg border-slate-300 uppercase px-4 py-3 text-white bg-indigo-600 font-semibold">
								<div>No</div>
								<div>Judul</div>
								<div>Kategori</div>
								<div>Target Donasi</div>
								<div>Deadline</div>
								<div>Status</div>
								<div>AKSI</div>
							</div>
							<div th:each="donasi, iter : ${list}"
								class="py-4 dropdown__wrapper even:bg-white odd:bg-gray-100 hover:bg-gray-200">
								<div
									class="dropdown__cell grid grid-cols-[0.07fr_0.5fr_repeat(4,_0.4fr)_0.2fr] items-center px-4">
									<div th:text="${iter.index+1}" class="text-center"></div>
									<div th:text="${donasi.title}" class="mx-2 text-center"></div>
									<div th:text="${donasi.event.name}" class="text-center"></div>
									<div th:text="'Rp '+${#numbers.formatInteger(donasi.target,3,'POINT')}" class="text-center"></div>
									<div th:text="${donasi.deadline}" class="text-center"></div>
									<div class="text-center">
										<span th:if="${donasi.status == 2}"
											class="px-2 py-1 text-xs font-bold text-red-600 bg-red-200 rounded-full">Ditolak</span>
										<span th:if="${donasi.status == 1}"
											class="px-2 py-1 text-xs font-bold text-green-600 bg-green-200 rounded-full">Disetujui</span>
										<span th:if="${donasi.status == 0}"
											class="px-2 py-1 text-xs font-bold text-yellow-600 bg-yellow-200 rounded-full">Butuh
											Konfirmasi</span>
									</div>
									<div class="cursor-pointer button-show">
										<div class="flex justify-center text-center item-center">
											<div
												class="w-5 mr-2 transform hover:text-green-500 hover:scale-110"
												onclick="expandCell(this)">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none"
													viewBox="0 0 24 24" stroke="currentColor">
                                                    <path
														stroke-linecap="round" stroke-linejoin="round"
														stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                    <path
														stroke-linecap="round" stroke-linejoin="round"
														stroke-width="2"
														d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
											</div>
											<div
												class="w-5 mr-2 transform hover:text-blue-500 hover:scale-110">
												<a th:href="@{donationUpdate(id=${donasi.id},status=1)}"> <svg xmlns="http://www.w3.org/2000/svg"
														viewBox="0 0 24 24" fill="currentColor">
                                                        <path
															fill-rule="evenodd"
															d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
															clip-rule="evenodd" />
                                                    </svg>
												</a>
											</div>
											<div class="w-5 transform hover:text-red-500 hover:scale-110">
												<a th:href="@{donationUpdate(id=${donasi.id},status=2)}"> <svg xmlns="http://www.w3.org/2000/svg"
														viewBox="0 0 24 24" fill="currentColor">
                                                        <path
															fill-rule="evenodd"
															d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
															clip-rule="evenodd" />
                                                    </svg>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div
									class="dropdown__cell-content transition-all duration-300 ease-[ease] max-h-0 overflow-hidden overflow-y-scroll">
									<div
										class="max-w-screen-lg p-4 mx-20 text-sm border-4 border-blue-400 border-dashed rounded-md">
										<div class="text-lg font-bold text-center">Detail Donasi
											:</div>
										<div
											class="w-[80%] mt-2 mx-auto bg-stone-100 p-4 rounded-md font-semibold">
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Judul</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.title}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Kategori</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.event.name}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Target Donasi</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="'Rp '+${#numbers.formatInteger(donasi.target,3,'POINT')}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Donasi Terkumpul</div>
												<div class="w-[5%] text-center">:</div>
												<div class="w-[65%]">Rp <span th:text="${donasi.donatur.size != 0} ? ${#numbers.formatInteger(#aggregates.sum(donasi.donatur.![nominal]),3,'POINT')} : ${donasi.donatur.size}"></span></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Foto</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.photo}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Rekening</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.payment.name}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">No Rekening</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.payment.rekening}" class="w-[65%]"></div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Tanggal Pengajuan</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.createdAt}" class="w-[65%]">07 Oktober 2022</div>
											</div>
											<div class="flex justify-between py-1">
												<div class="w-[30%]">Tanggal berakhir</div>
												<div class="w-[5%] text-center">:</div>
												<div th:text="${donasi.deadline}" class="w-[65%]">10 Oktober 2022</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer lang="en" th:replace="admin/layouts/footer :: footer">
		</footer>
	</main>
	<script th:src="@{/resources/assets/js/script.js}"></script>
</body>

</html>