<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="ISO-8859-1">
     <title>Insert title here</title>
</head>

<body>
     <h1>Ini Kategori</h1>
     <tr th:each="event : ${list}">
          <td th:text="${event.id}"></td>
          <td href="#" th:text="${event.name}"></td>
     </tr>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="admin/layouts/head :: head"> </head>

<body class="bg-gray-100">
     <aside th:replace="admin/layouts/aside :: aside"></aside>
     <main class="w-[80%] ml-auto">
          <div th:replace="admin/layouts/header :: header"></div>

          <section class="mx-6 mt-24">
               <!-- component -->

               <form id="formInput" th:action="@{kategoriUpdate/{id}(id=${event.id})}" th:object="${event}"
                    method="post" class="w-1/3 my-5 mx-6">
                    <div class="relative z-0 w-full mb-6 group">
                         <input type="text" th:field="*{id}" id="id" name="id"
                              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                              placeholder="" readonly />
                         <label for="id"
                              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ID</label>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                         <input type="text" th:field="*{name}" id="name" name="name"
                              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                              placeholder=" " required />
                         <label for="name"
                              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Edit
                              Kategori</label>
                    </div>
                    <button type="submit"
                         class="w-full px-3 py-2 text-xs font-semibold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto">Update</button>
               </form>

          </section>
          <footer lang="en" th:replace="admin/layouts/footer :: footer"> </footer>
     </main>

     <script th:src="@{/resources/assets/js/script.js}"></script>
</body>

</html>